.container-paper-background-with-border {
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  -moz-border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
  -webkit-border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
  -o-border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
  border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;

  font-family: $font-primary;
  color: $c-dark-styled-text;
}

.container-card-with-border {
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  -moz-border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
  -webkit-border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
  -o-border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
  border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
}

.container-themebook-with-border {
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  -moz-border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
  -webkit-border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
  -o-border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
  border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
}

.text-container-300 {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  -moz-border-image: url("../assets/text-container-300.webp") 5 5 5 5 fill stretch stretch;
  -webkit-border-image: url("../assets/text-container-300.webp") 5 5 5 5 fill stretch stretch;
  -o-border-image: url("../assets/text-container-300.webp") 5 5 5 5 fill stretch stretch;
  border-image: url("../assets/text-container-300.webp") 5 5 5 5 fill stretch stretch;

  font-family: $font-primary;
  color: $c-dark-styled-text;
  padding: 10px 15px;
}

.text-container-500 {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  -moz-border-image: url("../assets/text-container-500.webp") 5 5 5 5 fill stretch stretch;
  -webkit-border-image: url("../assets/text-container-500.webp") 5 5 5 5 fill stretch stretch;
  -o-border-image: url("../assets/text-container-500.webp") 5 5 5 5 fill stretch stretch;
  border-image: url("../assets/text-container-500.webp") 5 5 5 5 fill stretch stretch;

  font-family: $font-primary;
  color: $c-dark-styled-text;
  padding: 10px 15px;
}

.text-container-large-paper-background {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  -moz-border-image: url("../assets/large_paper_background.webp") 5 5 5 5 fill stretch stretch;
  -webkit-border-image: url("../assets/large_paper_background.webp") 5 5 5 5 fill stretch stretch;
  -o-border-image: url("../assets/large_paper_background.webp") 5 5 5 5 fill stretch stretch;
  border-image: url("../assets/large_paper_background.webp") 5 5 5 5 fill stretch stretch;

  font-family: $font-primary;
  color: $c-dark-styled-text;
  padding: 10px 15px;
}

.text-container-long-paper-background {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  -moz-border-image: url("../assets/long_paper_background.webp") 5 5 5 5 fill stretch stretch;
  -webkit-border-image: url("../assets/long_paper_background.webp") 5 5 5 5 fill stretch stretch;
  -o-border-image: url("../assets/long_paper_background.webp") 5 5 5 5 fill stretch stretch;
  border-image: url("../assets/long_paper_background.webp") 5 5 5 5 fill stretch stretch;

  font-family: $font-primary;
  color: $c-dark-styled-text;
  padding: 10px 15px;
}

.floating-status-container-character {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  -moz-border-image: url("../assets/text-container-300.webp") 5 5 5 5 fill stretch stretch;
  -webkit-border-image: url("../assets/text-container-300.webp") 5 5 5 5 fill stretch stretch;
  -o-border-image: url("../assets/text-container-3000.webp") 5 5 5 5 fill stretch stretch;
  border-image: url("../assets/text-container-300.webp") 5 5 5 5 fill stretch stretch;

  font-family: $font-primary;
  color: $c-dark-styled-text;
  padding: 10px 15px;
  height: 100%;
}
