.how-to-play-app {
    .window-content {
        background-image: url("../assets/paper_background_1.webp");
        background-repeat: no-repeat;
        row-gap: 0.5em;
    }
}

.how-to-play-dialog {

    line-height: 1.4em;
    color: $c-dark-styled-text;

    h1,
    h2,
    h3,
    h4 {
        color: $c-styled-text;
        font-family: $font-primary;
        margin: 0;

        &.with-line {
            &::after {
                content: "";
                display: inline-block;
                width: 105px;
                height: 6px;
                background-image: url(../assets/header-backline.webp);
                background-repeat: no-repeat;
                margin-left: 10px;
            }
        }
    }

    .icon-dice-1 {
           display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url(../assets/icons/icon-dice-1.webp);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-y: 0.25em;
            padding: 0px;
            margin: 0;
    }
    .icon-dice-6 {
           display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url(../assets/icons/icon-dice-6.webp);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-y: 0.25em;
            padding: 0px;
            margin: 0;
    }

    .roll-result-success{
        background-image: url("../assets/htp_dice_result_success.webp");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5px;
    text-align: center;
    }

    .roll-result-partial-success{
        background-image: url("../assets/htp_dice_result_partial_success.webp");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5px;
    text-align: center;
    }

    .roll-result-failure{
        background-image: url("../assets/htp_dice_result_consequences.webp");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5px;
    text-align: center;
    }

    .consequence-result-icon{
        position: relative;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
        display: inline-block;
        top: 5px;
        left: 0;
    }

}

.htp-game-runs-on-tags {
    flex-grow: 0.4;
    align-self: flex-start;
}

.htp-themes {
    align-self: flex-start;
}

.htp-story-tags {
    align-self: flex-start;
    flex-grow: 0.6;
}

.htp-hero-development {
    align-self: flex-start;
}

.htp-camping{
    align-self: flex-start;
    font-family: $font-primary;
    color: $c-dark-styled-text;
}
.htp-fellowship {
    align-self: flex-start;
    flex-grow: 0.9;
}

.section-left-header {
    text-align: right;
    margin-right: 10px;
    min-width: 150px;
}

.section-row {
    align-items: start;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}