$c-white: #fff;
$c-black: #000;

$c-off-white: #f6eeea;
$c-faint: #c9c7b8;
$c-beige: #cfbfb5;
$c-brown: #724a32;
$c-tan: #444;
$c-dark: #191813;

$c-tag-yellow: rgb(239, 214, 147);
$c-tag-green: rgb(188, 205, 175);
$c-tag-orange: rgb(236, 186, 133);
$c-limit-red: rgba(208, 160, 141);
$c-tag-gray: rgb(169, 169, 169);

$c-text-redish: #742a2b;
$c-styled-text: $c-brown;
$c-dark-styled-text: $c-dark;

$c-icon-red: #8f4024;
$c-icon-blue: #5c5c92;
$c-icon-green: #4d8061;
$c-icon-brown: #734a33;

$c-status-red: rgb(208, 160, 141);
$c-status: $c-tag-yellow;
