.seperator {
    width: 100%;
    background-image: url(../assets/separator.webp);
    background-repeat: no-repeat;
    height: 15px;
    background-size: cover;
    margin-top: 10px;
}

.box-shadowed {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box-shadowed-container {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.hr-red-line {
    width: 100%;
    background-image: url(../assets/red-line.webp);
    background-repeat: no-repeat;
    height: 10px;
    background-size: contain;
}

.hr-gray-line {
    width: 100%;
    background-image: url(../assets/gray-line.webp);
    background-repeat: no-repeat;
    height: 10px;
    background-size: contain;
}

// Spacing utilities.
.mt-5  { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mb-10 { margin-bottom: 10px; }
