$font-primary: Labrada, serif;
$font-primary-italic: Labrada-italic, serif;
$font-written: Caveat-Regular, cursive;
$font-written-brush: CaveatBrush-Regular, cursive;
$font-manuscript: ManuskriptAntique, serif;
$font-dreamland: CCDreamland-Regular, serif;