// Journey actor sheet styles.

&.sheet.actor.litm-journey {
  color: $c-dark-styled-text;

  .window-content {
    background-image: url("../assets/paper_background_1.webp");
    background-repeat: no-repeat;
    row-gap: 0.5em;
    background-size: cover;
  }

  .portrait-img {
    height: 102px;
    width: 102px;
  }

  .header-fields.journey {
    h1,
    .short-description,
    .npc-roles {
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.85), 0 1px 1px rgba(0, 0, 0, 0.7);
    }
  }

  h1.journey-name {
    font-family: $font-primary;
    font-size: 36px;
    color: $c-dark-styled-text;
    width: 100%;
    text-align: center;
  }

  .short-description {
    font-family: $font-primary;
    color: $c-dark-styled-text;
    text-align: start;
  }

  .tags {
    text-align: center;
  }

  fieldset {
    @include styled-fielset;
  }

  .npc-roles {
    font-family: var(--litm-font-accent);
    font-size: large;
    text-align: center;
    color: $c-dark-styled-text;
  }

}
