@font-face {
  font-family: Labrada;
  src: url("../assets/fonts/Labrada-Regular.ttf") format("truetype");
  font-weight: normal;
}


@font-face {
  font-family: Labrada;
  src: url("../assets/fonts/labrada-700.ttf") format("truetype");
  font-weight: 700 900;
}

@font-face {
  font-family: Labrada-italic;
  src: url("../assets/fonts/Labrada-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Caveat-Regular;
  src: url("../assets/fonts/Caveat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: CaveatBrush-Regular;
  src: url("../assets/fonts/CaveatBrush-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: ManuskriptAntique;
  src: url("../assets/fonts/ManuskriptAntD-Reg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CCDreamland-Regular;
  src: url("../assets/fonts/CCDreamland-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: Ecstasy;
  src: url("../assets/fonts/Ecstasy.ttf") format("truetype");
}
